extends layoutAdmin

block content
  h1 Editar Profesional

  form(action=`/profesionales/editar/${profesional.ID}`, method='POST')
    //- Datos Personales
    label(for='nombre') Nombre:
    input(type='text', name='nombre', value=profesional.Persona.nombre, required placeholder='Ingrese el nombre')
    br

    label(for='dni') DNI:
    input(type='text', name='dni', value=profesional.Persona.dni, required placeholder='Ingrese el DNI')
    br

    label(for='nacimiento') Fecha de Nacimiento:
    input(type='date', name='nacimiento', value=profesional.Persona.nacimiento.toISOString().split('T')[0], required)
    br
    button(type='submit') Actualizar

    //- Lista de Especialidades
  label Especialidades:
    each especialidad in profesional.Especialidads
      div
        form(action="/profesionales/borrarEspecialidad", method='POST')
          input(type='hidden', name='profesionalID', value=profesional.ID)
          input(type='hidden', name='especialidadID', value=especialidad.ID)
          label= especialidad.nombre    
          button(type="submit") Eliminar  
    //- Botón para actualizar

  //- Formulario para agregar una nueva especialidad
  form(action=`/profesionales/agregarEspecialidad/${profesional.ID}`, method="POST")
    label(for='especialidad') Especialidad:
    select(name='especialidad')
      option(value='') Seleccione una especialidad
      each especialidad in especialidades
        option(value=especialidad.ID)= especialidad.nombre
    br
    label(for='matricula') Matrícula:
    input(type='text', name='matricula', placeholder='Ingrese la matrícula', required)
    button(type="submit") Agregar especialidad
    br
  a(href='/profesionales/lista') Volver a la lista