extends layoutAdmin

block content
  h1 Listado de Clasificaciones

  table
    thead
      tr
        th ID
        th Nombre
        th Acciones
    tbody
      each clasificacion in clasificaciones
        tr
          td= clasificacion.ID
          td= clasificacion.nombre
          td
            button(onclick=`document.getElementById('edit-${clasificacion.ID}').style.display='block'`) Editar
            // Formulario de edici贸n oculto por defecto
            form(id=`edit-${clasificacion.ID}`, style='display:none', method='POST', action=`/clasificaciones/editar/${clasificacion.ID}`)
              input(type='text', name='nombre', value=clasificacion.nombre)
              button(type='submit') Guardar
          
  // Formulario para agregar nueva clasificaci贸n
  h2 Agregar Nueva Clasificaci贸n
  form(method='POST', action='/clasificaciones/agregar')
    input(type='text', name='nombre', placeholder='Nombre de la clasificaci贸n', required)
    button(type='submit') Agregar
