doctype html
html
  head
    title Lista de Días No Laborables
    // Puedes incluir aquí cualquier estilo CSS o scripts necesarios

  body
    h1 Lista de Días No Laborables por Profesional
    
    table
      thead
        tr
          th Nombre del Profesional
          th Día No Laborable
          th Fecha
          th Acciones
      tbody
        each dia in profesionalDiasNoLaborables.diasNoLaborables
          tr
            // Mostramos el ID y el nombre del profesional
            td= profesionalDiasNoLaborables.persona.nombre
            td= dia.nombre 
            td= dia.ProfesionalDiasNoLaborables.fecha ? new Date(dia.ProfesionalDiasNoLaborables.fecha).toISOString().substring(0, 10) : 'Fecha no disponible'
            td
              a(href=`/api/profesional_dias_no_laborables/${dia.ID}`) Ver
              a(href=`/api/profesional_dias_no_laborables/editar/${dia.ID}`) Editar
              a(href=`/api/profesional_dias_no_laborables/borrar/${dia.ID}`) Eliminar
